<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="all" xsi:type="object">Mdg\CliSample\Console\MdgAllCommand</item>
                <item name="blocked" xsi:type="object">Mdg\CliSample\Console\MdgBlockedCommand</item>
                <item name="online" xsi:type="object">Mdg\CliSample\Console\MdgOnlineCommand</item>
                <item name="registered" xsi:type="object">Mdg\CliSample\Console\MdgRegisteredCommand</item>
            </argument>
        </arguments>
    </type>
</config>
